<table border="0" cellpadding="1" cellspacing="1">
  <tbody>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_header" align="left">&nbsp;
                      </td>
                      <td class="table_header" colspan="2" align="center">
                        <u>Teams
                        </u>
                      </td>
                      <td class="table_header" align="left">&nbsp;
                      </td>
                      <td class="table_header" align="center">
                        <u>Date/Time
                        </u>
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4895);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4895&amp;hid=27&amp;aid=30">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4895b" align="right" width="100">
                        <b>Tampa Bay
                        </b>
                      </td>
                      <td class="table_light" id="4895bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/TB.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4895" value="30" onclick="if (radio_check(this,1)){markItem('4895','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/11/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4895a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Philadelphia
                        </b>
                      </td>
                      <td class="table_light" id="4895aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/PHI.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4895" value="27" onclick="if (radio_check(this,-1)){markItem('4895','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_header" align="left">&nbsp;
                      </td>
                      <td class="table_header" colspan="2" align="center">
                        <u>Teams
                        </u>
                      </td>
                      <td class="table_header" align="left">&nbsp;
                      </td>
                      <td class="table_header" align="center">
                        <u>Date/Time
                        </u>
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4896);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4896&amp;hid=18&amp;aid=31">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4896b" align="right" width="100">
                        <b>Washington
                        </b>
                      </td>
                      <td class="table_light" id="4896bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/WAS.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4896" value="31" onclick="if (radio_check(this,1)){markItem('4896','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/11/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4896a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Atlanta
                        </b>
                      </td>
                      <td class="table_light" id="4896aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/ATL.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4896" value="18" onclick="if (radio_check(this,-1)){markItem('4896','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4897);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4897&amp;hid=1&amp;aid=19">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4897b" align="right" width="100">
                        <b>Carolina
                        </b>
                      </td>
                      <td class="table_dark" id="4897bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/CAR.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4897" value="19" onclick="if (radio_check(this,1)){markItem('4897','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/11/2016 7:30:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4897a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Baltimore
                        </b>
                      </td>
                      <td class="table_dark" id="4897aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/BAL.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4897" value="1" onclick="if (radio_check(this,-1)){markItem('4897','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4898);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4898&amp;hid=11&amp;aid=7">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4898b" align="right" width="100">
                        <b>Jacksonville
                        </b>
                      </td>
                      <td class="table_dark" id="4898bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/JAC.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4898" value="7" onclick="if (radio_check(this,1)){markItem('4898','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/11/2016 7:30:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4898a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>New York (A)
                        </b>
                      </td>
                      <td class="table_dark" id="4898aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/NYJ.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4898" value="11" onclick="if (radio_check(this,-1)){markItem('4898','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4899);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4899&amp;hid=10&amp;aid=25">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4899b" align="right" width="100">
                        <b>New Orleans
                        </b>
                      </td>
                      <td class="table_light" id="4899bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/NO.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4899" value="25" onclick="if (radio_check(this,1)){markItem('4899','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/11/2016 7:30:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4899a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>New England
                        </b>
                      </td>
                      <td class="table_light" id="4899aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/NE.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4899" value="10" onclick="if (radio_check(this,-1)){markItem('4899','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4900);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4900&amp;hid=20&amp;aid=5">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4900b" align="right" width="100">
                        <b>Denver
                        </b>
                      </td>
                      <td class="table_light" id="4900bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/DEN.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4900" value="5" onclick="if (radio_check(this,1)){markItem('4900','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/11/2016 8:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4900a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Chicago
                        </b>
                      </td>
                      <td class="table_light" id="4900aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/CHI.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4900" value="20" onclick="if (radio_check(this,-1)){markItem('4900','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4901);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4901&amp;hid=26&amp;aid=9">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4901b" align="right" width="100">
                        <b>Miami
                        </b>
                      </td>
                      <td class="table_dark" id="4901bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/MIA.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4901" value="9" onclick="if (radio_check(this,1)){markItem('4901','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/12/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4901a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>New York (N)
                        </b>
                      </td>
                      <td class="table_dark" id="4901aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/NYG.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4901" value="26" onclick="if (radio_check(this,-1)){markItem('4901','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4902);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4902&amp;hid=13&amp;aid=22">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4902b" align="right" width="100">
                        <b>Detroit
                        </b>
                      </td>
                      <td class="table_dark" id="4902bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/DET.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4902" value="22" onclick="if (radio_check(this,1)){markItem('4902','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/12/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4902a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Pittsburgh
                        </b>
                      </td>
                      <td class="table_dark" id="4902aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/PIT.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4902" value="13" onclick="if (radio_check(this,-1)){markItem('4902','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4903);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4903&amp;hid=3&amp;aid=24">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4903b" align="right" width="100">
                        <b>Minnesota
                        </b>
                      </td>
                      <td class="table_light" id="4903bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/MIN.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4903" value="24" onclick="if (radio_check(this,1)){markItem('4903','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/12/2016 7:30:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4903a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Cincinnati
                        </b>
                      </td>
                      <td class="table_light" id="4903aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/CIN.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4903" value="3" onclick="if (radio_check(this,-1)){markItem('4903','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4904);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4904&amp;hid=23&amp;aid=4">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4904b" align="right" width="100">
                        <b>Cleveland
                        </b>
                      </td>
                      <td class="table_light" id="4904bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/CLE.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4904" value="4" onclick="if (radio_check(this,1)){markItem('4904','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/12/2016 8:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4904a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Green Bay
                        </b>
                      </td>
                      <td class="table_light" id="4904aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/GB.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4904" value="23" onclick="if (radio_check(this,-1)){markItem('4904','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4905);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4905&amp;hid=17&amp;aid=12">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4905b" align="right" width="100">
                        <b>Oakland
                        </b>
                      </td>
                      <td class="table_dark" id="4905bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/OAK.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4905" value="12" onclick="if (radio_check(this,1)){markItem('4905','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/12/2016 10:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4905a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Arizona
                        </b>
                      </td>
                      <td class="table_dark" id="4905aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/AZ.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4905" value="17" onclick="if (radio_check(this,-1)){markItem('4905','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4906);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4906&amp;hid=8&amp;aid=15">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4906b" align="right" width="100">
                        <b>Seattle
                        </b>
                      </td>
                      <td class="table_dark" id="4906bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/SEA.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4906" value="15" onclick="if (radio_check(this,1)){markItem('4906','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/13/2016 4:30:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4906a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Kansas City
                        </b>
                      </td>
                      <td class="table_dark" id="4906aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/KC.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4906" value="8" onclick="if (radio_check(this,-1)){markItem('4906','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4907);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4907&amp;hid=2&amp;aid=6">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4907b" align="right" width="100">
                        <b>Indianapolis
                        </b>
                      </td>
                      <td class="table_light" id="4907bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/IND.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4907" value="6" onclick="if (radio_check(this,1)){markItem('4907','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/13/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4907a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Buffalo
                        </b>
                      </td>
                      <td class="table_light" id="4907aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/BUF.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4907" value="2" onclick="if (radio_check(this,-1)){markItem('4907','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_light" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4908);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4908&amp;hid=29&amp;aid=21">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_light" id="4908b" align="right" width="100">
                        <b>Dallas
                        </b>
                      </td>
                      <td class="table_light" id="4908bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/DAL.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4908" value="21" onclick="if (radio_check(this,1)){markItem('4908','b','table_light');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_light" rowspan="2" align="center" nowrap="" width="80">8/13/2016 8:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_light" id="4908a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Los Angeles
                        </b>
                      </td>
                      <td class="table_light" id="4908aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/LA.png" border="0">
                      </td>
                      <td class="table_light" align="center" width="25">
                        <input style="background-color: #f0f0f0" name="4908" value="29" onclick="if (radio_check(this,-1)){markItem('4908','a','table_light');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4909);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4909&amp;hid=16&amp;aid=14">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4909b" align="right" width="100">
                        <b>San Diego
                        </b>
                      </td>
                      <td class="table_dark" id="4909bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/SAN.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4909" value="14" onclick="if (radio_check(this,1)){markItem('4909','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/13/2016 8:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4909a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>Tennessee
                        </b>
                      </td>
                      <td class="table_dark" id="4909aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/TEN.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4909" value="16" onclick="if (radio_check(this,-1)){markItem('4909','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table bgcolor="#e0e6df" cellpadding="0" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="1" width="100%">
                  <tbody>
                    <tr>
                      <td class="table_dark" rowspan="2" align="center" valign="middle" width="18">
                        <a href="javascript:;" onclick="rwCompare(4910);">
                        </a>
                        <a class="iframe cboxElement" href="../poolhost/teamcomp_box.asp?week=1&amp;priv=0&amp;window_color=FFFFFF&amp;stats_hlight=d0d6cf&amp;tblrow_light=f0f0f0&amp;tblrow_hlight=ffffcc&amp;link_color=0000FF&amp;text_color=000000&amp;gid=4910&amp;hid=28&amp;aid=32">
                          <img src="/images/h2h.gif" alt="Head 2 Head Matchup" border="0">
                        </a>
                      </td>
                      <td class="table_dark" id="4910b" align="right" width="100">
                        <b>Houston
                        </b>
                      </td>
                      <td class="table_dark" id="4910bb" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/HOU.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4910" value="32" onclick="if (radio_check(this,1)){markItem('4910','b','table_dark');  return true;} else return false;" type="radio">
                      </td>
                      <td class="table_dark" rowspan="2" align="center" nowrap="" width="80">8/14/2016 7:00:00 PM
                      </td>
                    </tr>
                    <tr>
                      <td class="table_dark" id="4910a" align="right" width="100">
                        <img src="/images/home_l.gif" border="0">
                        <b>San Francisco
                        </b>
                      </td>
                      <td class="table_dark" id="4910aa" align="right" nowrap="" valign="middle" width="36">
                        <img src="/images/SF.png" border="0">
                      </td>
                      <td class="table_dark" align="center" width="25">
                        <input style="background-color: #eaeaea" name="4910" value="28" onclick="if (radio_check(this,-1)){markItem('4910','a','table_dark');  return true;} else return false;" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
