/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/




.main-head {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #f5f5f5;
    padding: 50px 0;
    position: relative;
}
.main-head h1 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.page-content-wrapper .page-content {
    background: #ffffff none repeat scroll 0 0 !important;
    padding: 0 !important;
}
.page-header {
    border-bottom: 1px solid #eeeeee;
}

.content-wrap {
    padding: 50px 0;
    position: relative;
}
h5 {
    font-weight: bold; margin-bottom:20px;
}
.register-pg h5  a{ color:#1abc9c;
}

.register-pg label {
  color: #555555;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-cntrl {
    border-radius: 3px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.ini-txt {
    display: inline-block;
    padding-left: 12px;
    vertical-align: top;
    width: 90%;
}
.ini-txt p{ margin:0;}
.ini-chk {
    display: inline-block;
}
.register-usr span {
    display: block;
    font-size: 8px;
    font-weight: 500;
}

.register-usr label, .register-emal label, .register-reemil label {
    min-height: 29px;
}
.register-pg .initial {
    padding: 15px 0;
}
.rgstr {
    background: #fafafa none repeat scroll 0 0;
    margin: 18px 0 2px;
    padding: 18px;
}
.rgstr h5 {
    font-size: 13px;
    margin: 0;
}
.rgstr p {
    color: #555555;
    line-height: 1.8;
    margin: 0;
}
.ini-chck {
    display: inline-block;
}

.register-pg .btn, .btn-header, .header-login {
  background: #264f84 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 4px 0 0;
  outline: medium none;
  padding: 10px 26px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}
.register-pg .btn:hover, .btn-header:hover {
    background-color: #444444;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); text-decoration:none;
}
.header-login:hover{background: rgba(0, 0, 0, 0.3); text-decoration:none !important; color:#fff;}
.register-pg a {
    color: #1abc9c;
    text-decoration: none !important;
}
.register-pg a:hover {
    color: #222222;
}

.register-pg .initial.remil {
    padding: 0;
}
.header-right > ul {
    float: left;
    margin-right: 15px;
    margin-top: 12px;
    padding-right: 15px;
}

.header-login {
    background-color: #c40001;
}
.btn-header, .header-login {
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 22px;
}
.header-right ul li{list-style:none;}
.header-right ul li > a {
    color: #444444;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}


.login-form .col_full {
    margin-bottom: 25px;
}
.checkbx span {
    display: inline-block;
    margin: 0 0 0 9px;
    vertical-align: top;
}
.panel.frm-registr {
    border-left:1px solid rgba(0, 0, 0, 0.05);
    padding: 0 0 30px 21px;
}
.frm-registr h4 {
    font-weight: 600;
    margin: 0 0 40px;
}
.login-form {
    padding-right: 20px;
}
.frm-note {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    padding-top: 40px;
}
.frm-note > p {
    color: #222222;
    line-height: 1.8;
    margin: 0 0 26px;
}

.page-header, .page-header-top, .page-header-top {
    height: 115px;
}
nav.header-right {
    margin-top: 18px;
}
.fixed nav.header-right {
    margin-top: 0;
}
.fixed .page-logo img.logo-default {
    height: 38px;
}




.note.note-main {
    background: #264f84 none repeat scroll 0 0;
    color: #ffffff;
    padding: 10px 15px;
}
.note.note-main h4 {
    font-size: 24px;
    margin-bottom: 0;
}
.pic-head {
    margin-top: 5px;
}
.well.form-pick {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: 1px solid #e3e3e3; display:inline-block; width:100%; padding:20px 0;
}

.pick-half.pick-lft {
   /* padding-right: 60px;*/
}
.pick-half {
  /*  border-right: 1px solid #e3e3e3;
    width: 51%;*/
}
.pick-half.pick-rght {
   /* border: 0 none;
    margin-left: 40px;
    width: 45%;*/
}
.portlet-body .button-blue{ background-color:#264f84; color:#fff;}

.portlet-body .button-red{ background-color:#c40001; color:#fff;}
.form-pick .horizontal-form .radio-list > label {
    width: 35%;
}
#accordion1 .panel-heading {
    background: #ffffff none repeat scroll 0 0;
}
.accordion-toggle .nfl-picks tbody > tr > .table_light:last-child {
    width: 20%;
}
.accordion-toggle .table_light, .accordion-toggle .table_header {
    text-align: left;
}
.pick-half .game-day-grid .form-section {
    margin-bottom: 14px;
}
.pick-half .game-day-grid {
    border: 1px solid #dddddd;
    height: auto !important;
    margin: -1px 0;
    padding: 0 22px;
}
.pick-half > h3.form-section {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin: 0 0 -2px;
    padding: 16px 22px;
    position: relative;
}

@media (max-width: 1200px) and (min-width:992px){

.pick-half {
    width: 50%;
}
}


@media (max-width: 991px) and (min-width:768px){
	.register-usr label, .register-emal label, .register-reemil label {
    min-height: 41px;
}
.pick-half {
    border: 0 none;
    margin: 0 !important;
    padding: 0 0 0 0;
    width: 100% !important;
}
}
@media (max-width: 767px){
.register-usr label, .register-emal label, .register-reemil label {
    min-height: inherit;
}
.register-nme {
    margin-bottom: 15px;
}
.register-nme:last-of-type {
    margin-bottom: 0;
}
.register-emal {
    margin: 17px 0;
}

.panel.frm-registr {
    border-left: 0 none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    padding: 30px 0 0;
}
.frm-note {
    margin-top: 30px;
}
.login-form {
    padding-right: 0;
}

.pick-half {
    border: 0 none;
    margin: 0 !important;
    padding: 0 0 0 0;
    width: 100% !important;
}
}
#pick-btl th{
    text-align: center;
}
#pick-btl tbody tr td img{
    float: right;
}
#pick-btl tbody tr td button{
    width: 100%;
}
#pick-btl tbody tr td button label{
    padding-top: 4px;
    cursor: pointer;
}
#pick-btl tbody tr td div {
    margin-top: 40%;
    text-align: center;
}
#pick-btl tbody tr td .pick-date {
    margin-top: 20% !important;
}
