ul.dropmenu{
	position: relative;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background:transparent url('images/navigation3.png') repeat-x scroll 0 0;
	display:block;
	height: 26px;
	font-family: 'Ubuntu', Tahoma,Verdana,sans-serif;
	font-size: 12px;
}
.dropmenu li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.dropmenu li a{
	height: 19px;
	padding: 4px 24px 0px 10px;
	display: block;
	cursor: pointer;
	/*border-right: solid 1px #4a779d;*/
	border-right: solid 1px #5959b1;
	color: #fff;
    font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
}
.dropmenu li span{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background:transparent url(images/arrow_up3.png) repeat-x scroll 0 0;
	position: absolute;
	top: 7px;
	right: 10px;
}

.dropmenu span.arrow-pool{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background:transparent url(images/arrow_up_pool.png) repeat-x scroll 0 0;
	position: absolute;
	top: 7px;
	right: 10px;
}

.dropmenu li.admin span.arrow-pool{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background:transparent url(images/arrow_up_pool_admin.png) repeat-x scroll 0 0;
	position: absolute;
	top: 7px;
	right: 10px;
}


.dropmenu li a:hover span{
	background:transparent url(images/arrow_hover.png) repeat-x scroll 0 0;
}

.dropmenu li.admin a:hover span{
	background:transparent url(images/arrow_hover.png) repeat-x scroll 0 0;
}

.dropmenu.css-only li:hover ul, .dropmenu.css-only li:hover div{
	display: block;
}
.dropmenu ul{
	position: absolute;
	display: none;
	width: 170px;
	padding: 0px;
	margin: 0px;
	border-bottom: 6px solid #ccc;
	/*background: #ffffff url(images/gradient.png) repeat-x scroll 0 0;*/
	/*background: #ffffff url(/images/diag_bg_big.png) repeat scroll 0 0;*/
    background: #f6f6f6;
}
.dropmenu ul li{
	border: 0;
	float: none;
}
.dropmenu ul a {
  border: 1px solid #ccc;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  color: #05469c;
  /*color: #0657AD;*/
  /*text-decoration: underline;*/
  text-transform: none;
  font-weight: normal;
}

.dropmenu a.selected{
	color: #05469c !important;
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
}

.dropmenu a:hover{
	color: #05469c !important;
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
}


.dropmenu a.selected span{
	background:transparent url(images/arrow_hover.png) repeat-x scroll 0 0;
}
.dropmenu ul a:hover {
	color:#F67A00 !important;
	text-decoration: underline;
	background-color: #e0e0e0;
	background-image: none;
}
.dropmenu ul a:active{
    color: #FFFFFF !important;
    background-color: #e86a00;
	text-decoration: none;
}

.dropmenu div ul{
	position: relative;
	display: block;
}

.dropmenu li div{
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
	border: 1px solid #ccc;
	padding: 5px;
	display: none;
	position: absolute;
}
.dropmenu li div ul{
	border: none;
	background: none;
	position: relative !important;
}
.dropmenu li div a{
	border: none;
	border-bottom: 1px solid #ccc;
    font-weight: normal;
}
.dropmenu li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.dropmenu li div div a{
	display: inline;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
    font-weight: normal;
}
.dropmenu li div div a:hover{
	color: #000;
	text-decoration: none;
}
.dropmenu ul.left{
	float: left;
	width: 145px;
}
.dropmenu ul.right{
	float: right;
	width: 145px;
}
.dropmenu div.left
{
    display:table;
	float: left;
	width: 120px;
}
.dropmenu div.right{
    display:table;
	float: right;
	width: 120px;
}

.menu_small{
	color: #666;
	font-size: 10px;
	/*padding: 10px 5px 8px 5px !important;*/
    border-collapse: collapse;
	display: block;
	clear: both;    
}

/* PRODUCTS */
.products{
	width: 300px;
	padding: 15px !important;
}
.products ul{
	width: 100%;
}
.products ul li{
	border-bottom: 1px solid #ccc;
	height: 40px;
	padding: 10px 0px;
}
.products h2{
	font-size: 16px;
	padding: 2px 0px 3px 0px;
	margin: 0px;
}
.products p{
	color: #666;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}
.products img{
	float: left;
	padding-right: 10px;
}
.products  ul li a{
	display: inline;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}
.products  ul li  a:hover{
	color: #000 !important;
	text-decoration: none;
	background: none !important;
}

/* Two Columns */
.two_cols{
	width: 300px;
}
.dropmenu li > div.two_cols{
    background-color: #f6f6f6; 
    background-image: none;
    border-bottom: 6px solid #ccc;
}


/* LOGIN */
.login{
	padding: 10px !important;
	width: 170px;
}

.dropmenu li > div.login {
    background-color: #f6f6f6; 
    /*background: url('/images/diag_bg_small5.png') repeat;*/
    background-image: none;
    border-bottom: 6px solid #ccc;
}

.login input{
	/*border:1px solid #4A779D;*/
	border: 1px solid #5959b1;
	padding: 3px 8px;
	margin-bottom: 8px;
	width: 144px;
}
.login label{
	padding: 0px 0px 4px 0px;
	display:block;
}
.login button{
	/*background: #5959b1; *//*background: #4A779D*//* url(images/navigation2.png) repeat-x scroll 0 0*/	
	/*color: #FFF;*/	
	/*border: 1px solid #5959b1;*//*border:1px solid #4A779D;*/
    color: #000000;
    background-color: #ffb975;
    border:1px solid #c15800;
    border-top:1px solid #e86a00;
    border-left:1px solid #e86a00;

	padding: 4px 10px;
	width: 160px;
}
.login button:hover
{
    background-color: #fcc87e;
    border: 1px solid #ecb86e;
    color: #a85700;
}
.login button:active
{
    background-color: #CE4300;
    border: 1px solid #FF9900;
    color: #fff;
}

.dropmenu li > div.login div a{
	border: 1px;
	/*color:#6666cc;*/
    color: #05469c;
	margin:0;
	padding:2px; 
	text-transform:none;
	background: none;
	display: inline;
	float:none;
	/*font-weight: bold;*/
	text-decoration: none;
}
.dropmenu li > div.login div a:hover{
    color: #e86a00 !important;
    background-color: #e0e0e0;
	text-decoration: none;
}
.dropmenu li > div.login div a:active{
    color: #FFFFFF !important;
    background-color: #e86a00;
	text-decoration: none;
}

/* mega */

/*******************************************************
Mega div
*******************************************************/
.dropmenu li > div.mega{
	border: 1px solid #ccc;
    border-bottom: 6px solid #ccc;
	width: 420px;
    background-color: #f6f6f6; 
    /*background: url('/images/diag_bg_thick.png') repeat;*/
    background-image: none;
}

.dropmenu li > div.mega div{
	border: none;
	color: #595959;
    float: left;
    padding-right: 20px;
    /*font-size: 12px;*/
    line-height: 18px;
}

.dropmenu li > div.mega div.left{
    /*display:table;*/
	/*float: left;*/
	/*width: 220px;*/
    /*border-right: 1px solid red;*/
}
.dropmenu li > div.mega div.right{
    /*display:table;*/
	/*float: right;*/
	/*width: 220px;*/
}

.mega label{
	display:block;
	padding:0 0 4px;
	color:#595959;	
}
.mega input {
	/*border:1px solid #4A779D;*/
	border: 1px solid #5959b1;
	margin-bottom:8px;
	padding:3px 8px;
	width:164px;
}
.dropmenu li > div.mega div h3
{
    /*border-top: 3px solid #ccc;
    border-bottom: 1px solid #000;*/
    background-color: #fcc16e;
    color: #000;
    /*font-size: 12px;*/
	font-weight: bold;
    /*font-style: italic;*/
	text-decoration: none;
	margin: 0px;
    padding: 0px 3px 0px 3px;
    width: 100%;
}
.mega button {
	background:url('images/navigation2.png') repeat-x scroll 0 0 #5959b1; /*#4A779D;*/
	/*border:1px solid #4A779D;*/
	border: 1px solid #5959b1;
	color:#FFFFFF;
	padding:4px 10px;
	width:175px;
}

.dropmenu li > div.mega div a{
	/*color:#6666cc;*/
        color: #05469c;
	margin-left: 0px;
        border-bottom: 1px solid #ccc;
	padding: 0px 3px 0px 3px; 
	text-transform:none;
	background: none;
	display: inline-block;
	float:none;
	/*font-weight: bold;*/
	text-decoration: none;
        width: 100%;
}
.dropmenu li > div.mega div a:hover{
    color: #e86a00 !important;
    background-color: #e0e0e0; /*background-color: #e4e4e4;*/
	text-decoration: underline;
    /*border: 1px solid #777777;*/
    /*margin: 0px;*/
    width: 100%;
}
.dropmenu li > div.mega div a:active{
    color: #FFFFFF !important;
    background-color: #e86a00;
	text-decoration: none;
}