
ul.dropmenu {
	/*float: left;*/
	position: relative;
	margin: 0px; 
	padding: 0px;
	background:url("images/navigation.png") repeat-x scroll 0 0 transparent;
	display:block;
	height:27px;
	color:#595959;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;	
}

.dropmenu li a, .dropmenu li{
	float: left;
}
.dropmenu li a:hover, .dropmenu li.open > a{
	color: #0657AD;
	background: #FFFFFF url("images/gradient.png") repeat-x scroll 0 0;	
}

.dropmenu li{
	list-style: none;
	position: relative;	
	top: 0px;
}

.dropmenu li span{
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 8px;
	right: 10px;
	background:url("images/arrow_up.png") repeat-x scroll 0 0 transparent;
}
.dropmenu li a:hover span, .dropmenu li.open > a span{
	background-image: url("images/arrow_hover.png");	
}

.dropmenu li a, .dropmenu li div
{
	padding: 8px 23px 7px 13px;
	text-decoration: none;
	color: #FFF;	
	border-right:1px solid #4A779D;
	text-transform:uppercase;
	-moz-focus-inner: 0px;
	outline: 0px;
	-moz-outline-style: none
}

/* Submenu */
.dropmenu li > ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0px;
	margin: 0px;
	background:url("images/gradient.png") repeat-x scroll 0 0 #FFFFFF;
	/*border-bottom:0px solid #CCCCCC;*/
}

.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div{
	display: block;
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #0657AD;
	text-transform: none;
	text-decoration: underline;
}

.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 250px;
}

.dropmenu li ul li a span{
	background:url("images/arrow_sub.gif") repeat-x scroll 0 0 transparent;	
}

/* Sub submenu */

.dropmenu li ul li a{
	width: 150px;
	display: block;	
	border:1px solid #CCCCCC;
	border-top: none;
}

.dropmenu li ul li a:hover{
	color:#F67A00;
	background: #F0F0F0;
}

.dropmenu li ul li ul, .dropmenu li ul li > div{
	top: 0px;
	left: 101%;
}


/*******************************************************
Login form
*******************************************************/
.dropmenu li > div.login{
	border:1px solid #CCCCCC;
	width: 220px;
}
.dropmenu li > div.login div{
	border: none;
	color: #595959;
}
.login label{
	display:block;
	padding:0 0 4px;
	color:#595959;	
}
.login input {
	border:1px solid #4A779D;
	margin-bottom:8px;
	padding:3px 8px;
	width:164px;
}
.login button {
	background:url("images/navigation.png") repeat-x scroll 0 0 #4A779D;
	border:1px solid #4A779D;
	color:#FFFFFF;
	padding:4px 10px;
	width:175px;
}
.dropmenu li > div.login div p a:hover {
	color:#111;
	text-decoration: underline !important;
	font-weight: bold;
}
.dropmenu li > div.login div p a {
	border: none;
	color:#6666cc;
	margin:0;
	padding:0; 
	text-transform:none;
	background: none;
	display: inline;
	float:none;
	font-weight: bold;
}
.dropmenu li > div.login div p{
	color:#666666;
	font-size:10px;
	margin:0;
	padding:0;
	display: inline;
	float: none;
}     

/*******************************************************
Products div
*******************************************************/
.dropmenu li > div.products{
	width: 285px;
}
.dropmenu li:hover > div.products ul{
	display: block;
}
.dropmenu li > div.products *{
	padding: 0px;
	margin: 0px;
	position: relative;	
	border: none;
}
.dropmenu li > div.products li{
	overflow: hidden;
	padding: 10px 0px;
	border-bottom:1px solid #CCCCCC;
}
.dropmenu li > div.products li img{
	float: left;
	margin:  0 15px;
}
.dropmenu li > div.products{
	border:1px solid #CCCCCC;
	color:#595959;
}
.dropmenu li > div.products ul li h2{
	font-size: 16px;
	margin: 0px;
	padding: 2px 0 3px;
}
.dropmenu li > div.products ul li p{
	color:#666666;
	font-size:10px;
	margin:0;
	padding:0;
}
.dropmenu li > div.products ul li p a {
	border:medium none;
	color:#666666;
	display:inline;
	margin:0;
	padding:0;
	text-transform:none;
	background: none;
}
.dropmenu li > div.products ul{
	padding: 0px;
	margin: 0px;	
}
.dropmenu li > div.products ul li p a:hover {
	color:#222;
	text-decoration: none !important;
}
.dropmenu li > div.products .small{
	padding: 15px;
	color:#595959;
	font-size: 9px;
	text-transform: none;
}

/*******************************************************
Mega div
*******************************************************/
.dropmenu li > div.mega{
	border:1px solid #CCCCCC;
	width: 300px;
}
.dropmenu li > div.mega div{
	border: none;
	color: #595959;
}
.mega label{
	display:block;
	padding:0 0 4px;
	color:#595959;	
}
.mega input {
	border:1px solid #4A779D;
	margin-bottom:8px;
	padding:3px 8px;
	width:164px;
}
.mega button {
	background:url("images/navigation.png") repeat-x scroll 0 0 #4A779D;
	border:1px solid #4A779D;
	color:#FFFFFF;
	padding:4px 10px;
	width:175px;
}
.dropmenu li > div.mega div p a:hover {
	color:#111;
	text-decoration: underline !important;
	font-weight: bold;
}
.dropmenu li > div.mega div p a {
	border: none;
	color:#6666cc;
	margin:0;
	padding:0; 
	text-transform:none;
	background: none;
	display: inline;
	float:none;
	font-weight: bold;
}
.dropmenu li > div.mega div p{
	color:#666666;
	font-size:10px;
	margin:0;
	padding:0;
	display: inline;
	float: none;
}     


/*******************************************************
Tutorials div
*******************************************************/
.dropmenu li > div.tutorials *{
	display: none;	
}