/*
        '-------------------------------------------------------------
        ' OpenForum 1.1 Beta
        ' http://www.2enetworx.com/dev/projects/openforum.asp
        '
        ' File: of.css
        ' Description: Style Sheet for OpenForum
        ' Written By Hakan Eskici on Dec 12, 2000
        '
        ' Copyright (c) 2001, 2eNetWorX/dev.
        ' This software is distributed with General Public License.
        ' You may use the code for any purpose,
        ' But re-publishing is discouraged.
        ' See License.txt for additional information.
        '-------------------------------------------------------------
        '$Header: \\CVSROOT/poolhost/ph.css,v 1.2 2005/10/05 10:37:06 Larry Exp $

*/

/*h1, p, a, body {
font-family: Verdana;
}*/
body {
    font-family: Tahoma;
}

A.tb {
    font-size: xx-small;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
}

    A.tb:Visited {
        text-decoration: none;
    }

    A.tb:Active {
        text-decoration: underline;
    }

    A.tb:Hover {
        text-decoration: underline;
    }

A.phheadermenu {
    color: #FF0000;
    text-decoration: underline;
}

    A.phheadermenu:Visited {
        color: #FF0000;
        text-decoration: underline;
    }

    A.phheadermenu:Active {
        color: #0000FF;
        text-decoration: underline;
    }

    A.phheadermenu:Hover {
        color: #0000FF;
        text-decoration: underline;
    }

td.tableap {
    font-size: 10px;
    font-family: Verdana;
}

td.tablestd {
    font-size: 10px;
    font-family: Verdana;
}

td.tablestdw {
    font-size: 10px;
    font-family: Verdana;
    font-weight: Bold;
    color: #cccccc;
}

td.tablestdhead {
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
}

td.tablemm {
    font-size: 10px;
    font-family: Verdana;
}

td.tdauthor {
    width: 150px;
    text-align: left;
}

table.tableap {
    font-size: xx-small;
    font-family: Verdana;
}


td.tddate {
    width: 120px;
    text-align: right;
}

.tbflat {
    font-size: xx-small;
    font-family: Verdana;
    border-style: solid;
    border-color: #008080;
}

.cmdflat {
    font-size: xx-small;
    font-family: Verdana;
    background-color: #483d8b;
    color: #ffffff;
    font-weight: bold;
}

td.fbwin {
    background: #DDFFDD;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

td.fbloss {
    background: #FFDDDD;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
}

td.fbtie {
    background: #FFFFDD;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
}

td.ss_win1 {
    background: #ffffBB;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

td.ss_win2 {
    background: #ffffBB;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

td.ss_win3 {
    background: #ffffBB;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

td.ss_win4 {
    background: #ffffBB;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

select.small {
    font-size: 10px;
    font-family: Verdana;
}

input.small {
    font-size: 10px;
    font-family: Verdana;
}

td.items {
    font-size: 10px;
    font-family: Verdana;
    font-weight: Bold;
}

font.mmloser {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

font.mmwinner {
    color: green;
    text-decoration: underline;
    /*font-style: italic;*/
    font-weight: bold;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 0px;*/
}

table {
    font-size: 10pt;
}

    table.mypools {
        font-size: x-small;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        background: #f0f0f0;
    }

td.mypools {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#dateformat {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-image: url(/images/bargrad.gif);
}

    #dateformat a {
        font-family: Tahoma;
        font-size: 9px;
        font-weight: bold;
        color: #cc6666;
        text-decoration: underline;
    }

        #dateformat a:hover {
            color: #FF0000;
            text-decoration: none;
        }

a.pager_links {
    border: 1px solid #aaa;
    background-color: #ddd;
    padding: 1px 3px 1px 3px;
    margin: 0px 2px 0px 2px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 8pt;
    background: -webkit-linear-gradient(#eee, #ccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eee, #ccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eee, #ccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eee, #ccc); /* Standard syntax */
    color: #444;
}

div.pager_links {
    border: 1px solid #444;
    padding: 1px 3px 1px 3px;
    margin: 0px 2px 0px 2px;
    background-color: #ffb975;
    display: inline-block;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 8pt;
    background: -webkit-linear-gradient(#ffb975, #dd9955); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb975, #dd9955); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffb975, #dd9955); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb975, #dd9955); /* Standard syntax */
}

    div.pager_links.priv {
        background-color: #444;
        color: #eee;
        background: -webkit-linear-gradient(#777, #222); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#777, #222); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#777, #222); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#777, #222); /* Standard syntax */
    }

a.pager_links:hover {
    border: 1px solid #444;
    background-color: #ffb975;
    background: -webkit-linear-gradient(#ffb975, #dd9955); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb975, #dd9955); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffb975, #dd9955); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb975, #dd9955); /* Standard syntax */
}

a.pager_links.priv:hover {
    border: 1px solid #444;
    background-color: #444;
    color: #eee;
    background: -webkit-linear-gradient(#777, #222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#777, #222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#777, #222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#777, #222); /* Standard syntax */
}

a.week_links {
/*    float: left;
    display: block;
    border: 1px solid #aaa;
    height: 18px;
    text-align: center;
    border-left: 0;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    padding-left: 1px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 9pt;
    width: 23px;
    color: #444;
*/
}
a.week_links.sel {
    background-color: #eee;
}
a.week_links.current:hover {
    background-color: #eee;
    border-bottom: 2px solid black;
        padding-bottom: 4px;
}

    a.week_links.reg {
        background-color: #fff;
        /*background: -webkit-linear-gradient(#eee, #ccc);*/ /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#eee, #ccc);*/ /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#eee, #ccc);*/ /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#eee, #ccc);*/ /* Standard syntax */
    }

    a.week_links.pre {
        background-color: #dfd;
        /*background: -webkit-linear-gradient(#efe, #cec);*/ /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#efe, #cec);*/ /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#efe, #cec);*/ /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#efe, #cec);*/ /* Standard syntax */
    }

    a.week_links.post {
        background-color: #ffd;
        /*background: -webkit-linear-gradient(#ffd, #ddb);*/ /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#ffd, #ddb);*/ /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#ffd, #ddb);*/ /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#ffd, #ddb);*/ /* Standard syntax */
    }

    a.week_links.first {
/*
        border-left: 1px solid #aaa;
        width: 22px;
*/
    }

        a.week_links.first.precurrent {
/*
            width: 22px;
            padding-right: 1px;
            padding-left: 1px;
*/
        }

    a.week_links.precurrent {
/*
        width: 25px;
        border-right: 0px;
        padding-left: 0px;
*/
    }

    a.week_links.current {
        font-weight: bold;
/*        height: 17px;*/
        border-bottom: 2px solid #444;
        padding-bottom: 4px;
    }

    a.week_links:hover {
        background-color: #ffb975;
        /*background: -webkit-linear-gradient(#ffb975, #dd9955); *//* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#ffb975, #dd9955); *//* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#ffb975, #dd9955); *//* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#ffb975, #dd9955); *//* Standard syntax */
    }

    a.week_links.priv:hover {
/*        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        height: 18px;
*/
        background-color: #444;
        /*background: -webkit-linear-gradient(#777, #222); *//* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#777, #222); *//* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#777, #222); *//* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#777, #222); *//* Standard syntax */
        color: #eee;
    }

div.week_spacer {
    float: left;
    width: 5px;
}

div.week_links {
    float: left;
    height: 18px;
    text-align: center;
    border: 1px solid #444;
    margin: 0px 0px 0px 0px;
    padding-top: 2px;
    background-color: #ffb975;
    display: inline-block;
    font-family: Tahoma;
    font-size: 9pt;
    font-weight: bold;
    width: 23px;
    background: -webkit-linear-gradient(#ffb975, #dd9955); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb975, #dd9955); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffb975, #dd9955); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb975, #dd9955); /* Standard syntax */
}

    div.week_links.priv {
        background-color: #444;
        background: -webkit-linear-gradient(#777, #222); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#777, #222); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#777, #222); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#777, #222); /* Standard syntax */
        color: #eee;
    }

    div.week_links.first {
        border-left: 1px solid #444;
        width: 23px;
    }

td.table_dark.scores, td.table_light.scores, td.table_header.scores, td.table_hlight.scores {
    font-size: 10pt;
    font-family: Tahoma;
    text-decoration: none;
    color: black;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

    td.table_dark.scores.team, td.table_light.scores.team, td.table_header.scores.team {
        padding-left: 5px;
    }

    td.table_hlight.scores.team {
        padding-left: 5px;
        /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
        border-right: none;
        border-left: none;
    }

        td.table_hlight.scores.team.start {
            border-left: 1px solid black;
        }

        td.table_hlight.scores.team.end {
            border-right: 1px solid black;
        }

    td.table_hlight.scores.logo {
        border-right: none;
    }

    td.table_hlight.scores.points {
        border-left: none;
    }

    td.table_dark.scores a, td.table_light.scores a, td.table_header.scores a, td.table_hlight.scores a {
        text-decoration: none;
        color: black;
    }

        td.table_dark.scores a:hover, td.table_light.scores a:hover, td.table_header.scores a:hover, td.table_hlight.scores a:hover {
            text-decoration: underline;
            color: #66e;
        }

    td.table_dark.scores.header, td.table_light.scores.header, td.table_header.scores.header, td.table_hlight.scores.header {
        padding-top: 3px;
        padding-bottom: 4px;
        font-weight: bold;
        padding-right: 3px;
        padding-left: 3px;
    }

table.scores.printable {
    margin: 5px;
    border: 1px solid black;
}


table.scores.notprintable {
    margin: 5px;
    /*border: 1px solid black;*/
}

span.fbpos, span.fbpos-no-hover {
    border: 1px solid #77B;
    background-color: #CCF;
    font-style: italic;
    width: 100%;
    display: inline-block;
    /*color: #44b;*/
}
span.fbpos:hover {
    border: 1px solid #000;
    background-color: #77B;
    font-style: italic;
    color: #fff;
    cursor: pointer;
}

td.cbpo {
	background-color: #ffddbb !important;
}

/*****************/
/* BUTTONS HERE! */
/*****************/

.buttons a, .buttons button {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    background-color: #e0e0e0;
    border: 1px solid #676767;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 2px 10px 3px 7px; /* Links */
    /*border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
}

.buttons button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}

    .buttons button[type] {
        padding: 5px 10px 5px 7px; /* Firefox */
        line-height: 17px; /* Safari */
    }

*:first-child + html button[type] {
    padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

/* STANDARD */

.buttons button:hover, .buttons a:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}

.buttons a:active {
    background-color: #6299c5;
    border: 1px solid #6299c5;
    color: #fff;
}

/* POSITIVE */

.buttons button.positive, .buttons a.positive {
    /*color:#529214;*/
    color: #346900;
    background-color: #d6fab6;
}

    .buttons a.positive:hover, button.positive:hover {
        background-color: #E6EFC2;
        border: 1px solid #C6D880;
        color: #529214;
    }

    .buttons a.positive:active {
        background-color: #529214;
        border: 1px solid #529214;
        color: #fff;
    }

/* NEGATIVE */

.buttons a.negative, button.negative {
    /*color:#d12f19;*/
    color: #d12f19;
    background-color: #fac1c1;
}

    .buttons a.negative:hover, button.negative:hover {
        background: #fbe3e4;
        border: 1px solid #fbc2c4;
        color: #d12f19;
    }

    .buttons a.negative:active {
        background-color: #d12f19;
        border: 1px solid #d12f19;
        color: #fff;
    }

/* REGULAR */

.buttons button.regular, .buttons a.regular {
    color: #336699;
}

    .buttons a.regular:hover, button.regular:hover {
        background-color: #dff4ff;
        border: 1px solid #c2e1ef;
        color: #336699;
    }

    .buttons a.regular:active {
        background-color: #6299c5;
        border: 1px solid #6299c5;
        color: #fff;
    }

/* ORANGE */

.buttons button.orange, .buttons a.orange {
    /*color: #ff9c00;*/
    color: #000000;
    background-color: #ffb975;
    border: 1px solid #c15800;
    border-top: 1px solid #e86a00;
    border-left: 1px solid #e86a00;
    /*border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;*/
}

    .buttons a.orange:hover, button.orange:hover {
        background-color: #fcc87e;
        border: 1px solid #ecb86e;
        color: #a85700;
    }

    .buttons a.orange:active {
        background-color: #CE4300;
        border: 1px solid #FF9900;
        color: #fff;
    }

/*********************/
/* END BUTTONS HERE! */
/*********************/

.dashboard div.dashboard-item {
    font-size: 10pt;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    /*background-color: #ffffBB;*/
    background-color: #E6EFC2;
    width: 140px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-top: 2px;
}

.dashboard div.db-title {
    font-size: 12pt;
    font-weight: bold;
    float: left;
    text-align: center;
    margin-left: 10px;
    padding-top: 6px;
    height: 21px;
    /*border: 1px solid black;
    background-color: #ffffBB;*/
}

.dashboard div.db-header, span.db-header {
    /*background-color: #fcc87e;*/
    /*background-color: #daffaa; */
    width: 100%;
    font-weight: normal;
    border-bottom: 1px dashed grey;
}
